@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

nav {
  background: none;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: relative;
}

a.link-sm {
  color: #717171;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

button.btn-primary {
  background: #1b4965;
  border: none;
  padding: 10px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  cursor: pointer;
}

.nav-brand {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.hero {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ill-hero img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -999;
}

img.il-hero {
  top: 20%;
  right: 5%;
}

.text-heading {
  width: 40%;
  padding-top: 124px;
}

h1.hero-heading {
  font-size: 64px;
  color: #000;
  padding-bottom: 40px;
}

p.text-p {
  font-size: 20px;
  color: #636161;
  line-height: 1.5;
  padding-bottom: 40px;
}

.btn-secondary {
  background: transparent;
  border-color: #1b4965;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #1b4965;
  color: #fff;
}

.features {
  margin-top: 400px;
}

.title {
  width: 100%;
  display: flex;
  height: 30vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  font-size: 56px;
}

.title p {
  font-size: 20px;
  color: #636161;
  padding-bottom: 40px;
  margin-top: 20px;
}

.row-3-col {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 50px 0px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col h3 {
  font-size: 24px;
  margin-left: 30px;
  color: #636161;
}

.Typography {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 250px 10px;
}

.img-typography {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-typography {
  width: 100%;
}

.text-typography h1 {
  font-size: 64px;
  color: #000;
  padding-bottom: 40px;
}

.text-typography p {
  width: 85%;
  font-size: 20px;
  color: #636161;
  line-height: 1.5;
  padding-bottom: 40px;
}

.Typo2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 250px 10px;
}

.img-typo2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 30px;
}

.text-typo2 {
  width: 100%;
  padding-left: 80px;
}

.text-typo2 h1 {
  font-size: 64px;
  color: #000;
  padding-bottom: 40px;
}

.text-typo2 p {
  width: 85%;
  font-size: 20px;
  color: #636161;
  line-height: 1.5;
  padding-bottom: 40px;
}
